/* @import 'node_modules/modern-normalize/modern-normalize.css'; */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  list-style-type: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.userlist-container {
  display: flex;
}
.user-container {
  display: flex;
  flex-direction: column-reverse;
  flex-basis: auto;
}
.user-container img {
  width: 255px;
  min-height: 255px;
  margin-bottom: 25px;
}
.last-name {
  text-align: start;
  letter-spacing: 0.05em;
}
.user-container .last-name::before {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin-right: 5px;
  color: darkblue;
  word-spacing: 0.25em;
  content: 'e-mail:';
}
